/* Mengatur tampilan elemen figure */
figure {
  margin: 0;
  text-align: center;
}

/* Mengatur tampilan elemen dengan class main */
.main {
  background: #f8f8f8;
  padding: 150px 0;
  overflow: hidden;
}

/* Mengatur tampilan elemen dengan class signup */
.signup {
  margin-bottom: 150px;
}

/* Mengatur tampilan elemen dengan class signup-content */
.signup-content {
  padding: 75px 0;
}

/* Mengatur tampilan form signup, gambar signup, form signin, dan gambar signin */
.signup-form,
.signup-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

/* Mengatur tampilan gambar signup */
.signup-image {
  margin: 0 55px 0 0;
  margin-top: 45px;
}

/* Mengatur margin pada form title */
.form-title {
  margin-bottom: 33px;
}

/* Mengatur tampilan tombol submit form */
.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}

/* Mengatur tampilan tombol submit form saat dihover */
.form-submit:hover {
  background: #4292dc;
}

/* Mengatur margin atas pada tombol signin */
#signin {
  margin-top: 16px;
}

/* Mengatur tampilan elemen tautan gambar signup */
.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center;
}

/* Mengatur tampilan term of service */
.term-service {
  font-size: 13px;
  color: #222;
}

/* Mengatur tampilan form signup */
.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

/* Mengatur lebar form register */
.register-form {
  width: 100%;
}

/* Mengatur tampilan grup form */
.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

/* Mengatur margin bawah pada form group terakhir */
.form-group:last-child {
  margin-bottom: 0px;
}

/* Mengatur lebar input form */
input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 0;
  font-family: Poppins;
  box-sizing: border-box;
}

/* Mengatur tampilan elemen agree-term */
agree-term {
  display: inline-block;
  width: auto;
}

/* Mengatur tampilan label */
label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #222;
}

/* Mengatur tampilan elemen dengan class alert */
.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}

/* Mengatur tampilan elemen dengan class alert-success */
.alert-success {
  background-color: #d4edda;
  color: #155724;
}

/* Mengatur tampilan elemen dengan class alert-danger */
.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

/* Mengatur tampilan ikon toggle password */
#password-toggle-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
